<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sujet List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Teacher List</h1>
<a href="addSujet">Add Sujets</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Prof Responsable</th>
        </tr>
        <tr th:each ="teacher : ${sujets}">
            <td th:utext="${sujet.titre}">...</td>
            <td th:utext="${sujet.TeacherLastName}">...</td>
            <td><a th:href="@{/showSujetUpdateForm/{id}(id=${sujet.id})}">Update</a>
        </tr>
    </table>
</div>
</body>
</html>